#aboutViewPort {
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	/* max-height: 72vh; */
}

#aboutContent {
    width: 100%;
    
	box-sizing: border-box;
	padding: 0 5vmin;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	
	padding-top: 19px;
	padding-bottom: 9vh;
	/* width: 100%; */
	/* max-width: 1500px; */
	/* border: solid 2px rgba(254, 238, 210, 1); */
	border: solid 1px rgba(255, 255, 255, 0.8);

	box-shadow: 
		6px -9px 17px 0 rgba(76, 70, 61, 0.497),
		/* BELOW: CHANGE FIRST VALUE B/W NEGATIVE AND POSITIVE FOR SIDE LIGHTING INVERSION */
		inset 175px -85px 250px 0 rgba(254, 238, 210, 0.15),
		inset 0 0px 50px 0 rgba(254, 238, 210, 0.15),
		inset 0 0px 25px 0 rgba(254, 238, 210, 0.15),
		inset 0 0px 23px 0 rgba(254, 238, 210, .35),
		inset 0 0px 12.5px 0 rgba(254, 238, 210, 0.15),
        inset 0 0px 15px 0 rgba(254, 238, 210, .35),
		inset 0 0px 6.15px 0 rgba(254, 238, 210, 0.15),
        inset 0 0px 6px 0 rgba(254, 238, 210, .35),
		/* inset 0 0px 3px 0 rgba(254, 238, 210, 0.15), */
        inset 0 0px 4px 0 rgba(254, 238, 210, .35),
		inset 0 0px 1.5px 0 rgba(254, 238, 210, 0.15),
        inset 0 0px 1px 0 rgba(254, 238, 210, .35)
		/* inset 0 0px 0px 0 rgba(254, 238, 210, 0.15); */
	;}

#aboutWrapper {
	box-sizing: border-box;
	padding: 0 5vmin;
	
	display: flex;
	column-gap: 5vw;
	/* row-gap: 7vmin; */
	flex-flow: row wrap;
	justify-content: center;
	align-content: stretch;
}

.about-section {
	max-width: 888px;
	padding: 3vh 3vmin 0 3vmin;
	box-sizing: border-box;

	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;

	/* font-size: 1.1vmin; */
	font-size: 14px;
	line-height: 35px;
	font-weight: 500;
	letter-spacing: 1.11px;
	color: rgba(255, 255, 255, 0.922);
	text-transform: none;
	text-align: justify;
}

.about-section-title {
	/* width: ; */
	text-align: center;
	/* font-size: 1.35vmin; */
	font-size: 18px;
	line-height: 75px;
	font-weight: 500;
	letter-spacing: 16px;
	color: rgba(255, 255, 255, 0.922);
	text-transform: uppercase;
}

#bioTextBody {
	text-indent: 6vmin;
}

#bioTextBody p {
  text-shadow: 0px 0px 2px rgba(254, 238, 210, 0.333);
}

#centeredText {
	margin: 3.5vmin 0;
	text-align: center;
	text-indent: 0px;
}

#toolkitItems {
	height: 100%;
	padding: 19px 0 46px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	align-content: stretch;
}

.tool-card {
	box-sizing: border-box;
	padding: 25px 35px 17.67px 28.67px;
	margin: 6.34px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background-color: rgb(0, 0, 0);
	border: solid 1px rgba(255, 255, 255, 0.586);
	border-radius: 20px 0 20px 0;
	/* font-size: 20px; */
	transition: ease-out .05s;
	letter-spacing: 3px;
	box-shadow: 
		6px -9px 17px 0 rgba(76, 70, 61, 0.497),
		0 0px 17px 0 rgba(254, 238, 210, 1),
        0 0px 10px 0 rgba(254, 238, 210, 1),
        0 0px 4px 0 rgba(254, 238, 210, 1),
        0 0px 3px 0 rgba(254, 238, 210, 1),
        0 0px 0px 0 rgba(254, 238, 210, 1)
	;
}

.tool-card:hover {
	background-color: rgb(255, 255, 255);
	color: black;
	/* transition: ease-in-out .1s; */
	/* border: solid 1px rgba(0, 0, 0, 0); */
	/* box-shadow: 
		6px -9px 17px 0 rgba(254, 238, 210, 0.15),
		0 0px 17px 0 black,
        0 0px 10px 0 black,
        0 0px 4px 0 black,
        0 0px 3px 0 black,
        0 0px 0px 0 black
	; */
}

/* SCREEN SIZE QUERIES */

@media (max-width: 500px) {

	.about-section {
		font-size: 2.7vmin;
	}
	.about-section-title {
		padding: 0 0 0 4vmin;
		text-align: center;
		font-size: 3vmin;
		line-height: 12vmin;
		font-weight: 500;
		letter-spacing: 3vmin;
		color: rgba(255, 255, 255, 0.922);
		text-transform: uppercase;
	}
	.tool-card {
		letter-spacing: .37vmin;
		padding: 1.67vmin 4.87vmin .87vmin 3.87vmin;
		margin: 1vmin;
		border-radius: 2vmin 0;
		flex-grow: 1;
		font-size: 2.7vmin;
		box-shadow: 
			6px -9px 10px 0 rgba(76, 70, 61, 0.497),
			0 0px 12px 0 rgba(254, 238, 210, 1),
			0 0px 5px 0 rgba(254, 238, 210, 1),
			0 0px 3px 0 rgba(254, 238, 210, 1),
			0 0px 1px 0 rgba(254, 238, 210, 1),
			0 0px 0px 0 rgba(254, 238, 210, 1)
		;
	}
	#bioSection {
		letter-spacing: 0.17vmin;
		line-height: 5vmin;
	}
}
@media (max-height: 500px) {

	.about-section {
		font-size: 2.7vmin;
	}
	.about-section-title {
		padding: 0 0 0 4vmin;
		text-align: center;
		font-size: 3vmin;
		line-height: 12vmin;
		font-weight: 500;
		letter-spacing: 3vmin;
		color: rgba(255, 255, 255, 0.922);
		text-transform: uppercase;
	}
	.tool-card {
		letter-spacing: .37vmin;
		padding: 1.67vmin 4.87vmin .87vmin 3.87vmin;
		margin: 1vmin;
		border-radius: 2vmin 0;
		flex-grow: 1;
		font-size: 2.7vmin;
		box-shadow: 
			6px -9px 10px 0 rgba(76, 70, 61, 0.497),
			0 0px 12px 0 rgba(254, 238, 210, 1),
			0 0px 5px 0 rgba(254, 238, 210, 1),
			0 0px 3px 0 rgba(254, 238, 210, 1),
			0 0px 1px 0 rgba(254, 238, 210, 1),
			0 0px 0px 0 rgba(254, 238, 210, 1)
		;
	}
	#bioSection {
		letter-spacing: 0.17vmin;
		line-height: 5vmin;
	}
}
