
/* ANIMATION */

#animationWindow #aomLogo {
  overflow: visible;
}

#animationWindow {
  z-index: +1000;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: blur(0px) brightness(110%) contrast(1.10) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) opacity(100%) saturate(80%);
}

#animationWindow .logo-container {
  z-index: +110;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.path-letters {
  fill: rgba(0, 0, 0, 0);
  display: inline;
  stroke: rgb(255, 255, 255);
  stroke-width: 1.5px;
  transition: ease-out;
  /* stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; */
}

.letter-fill {
  z-index: +109;
  display: inline;
  stroke: none;
  fill: none;
}

/* #animationWindow #backgroundImage {
  z-index: +101;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vmax;

  -webkit-transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -webkit-filter: blur(0px) brightness(110%) contrast(1.05) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) opacity(100%) saturate(80%);
  filter: blur(0px) brightness(110%) contrast(1.05) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) opacity(100%) saturate(80%);
} */

@media (prefers-reduced-motion: no-preference) {
  #animationWindow {
    animation: openingCeremonyImg 8s
  }
  #animationWindow #backgroundImage {
    animation: openingCeremonyImg 8s
  }
  #animationWindow .letter-fill {
    animation: openingCeremonyLetterFill 8s
  }
}

@keyframes openingCeremonyImg {

  /* FLICKER ON */
  0% { opacity: 0 }
  7% { opacity: 0 }
  7.3% { opacity: .1 }
  7.6% { opacity: 0 }
  10% { opacity: 0 }
  10.6% { opacity: .9 }
  11.2% { opacity: 0 }
  21% { opacity: 0 }
  21.3% { opacity: .2; filter: blur(20px)}
  23.3% { filter: blur(20px)}
  40% { filter: blur(0px)}
  55% { opacity: 1}

  /* FLICKER OFF */
  97% { opacity: 1 }
  98% { opacity: 0 }
  98.5% { opacity: 1 }
  99% { opacity: 0 }
  99.5% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes openingCeremonyLetterFill {

  /* DIM ON */
  98% { fill: rgba(0, 0, 0, 0); stroke: none }
  99% { fill: rgba(0, 0, 0, .2); stroke: rgba(0, 0, 0, 1) }
  100% { fill: rgba(0, 0, 0, .2); stroke: rgba(0, 0, 0, 1) }
}

/* SCREEN SIZE QUERIES */

/* @media (max-width: 768px) {
  #animationWindow #backgroundImage {
    height: 100%;
    min-width: 100vw;
  }
} */