body {
  width: 100%;
  height: 100%;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to bottom right, rgb(17, 17, 16), rgb(41, 39, 36), rgb(66, 62, 57), rgb(88, 76, 58)); */
  min-height: 100vh;
  color: rgb(255, 255, 255);
  perspective: 2000px;
}

.links {
	color: inherit;
	text-decoration: none;
}
